* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
.attribution {
  margin-top: 100px;
  font-size: 11px;
  text-align: center;
  color: hsl(217, 12%, 63%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
#page1 {
  display: flex;
}
#page2 {
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: hsl(213, 19%, 18%);
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
  max-width: 70%;
  height: 350px;
  border-radius: 20px;
  padding: 30px;
  min-width: 310px;
  margin: 0 10px;
}
.star,
.radioSelector label {
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: rgba(124, 135, 152, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.container p:not(.destaque),
.radioSelector label {
  font-weight: 400;
  font-size: 15px;
}
.container p:not(.destaque) {
  line-height: 1.5;
  color: hsl(217, 12%, 63%);
}
.radioSelector {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.radioSelector label input {
  display: none;
}
.radioSelector label {
  margin: 1px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
  padding: 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2px;
}
.btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: hsl(0, 0%, 100%);
}
.radioSelector label:hover {
  background-color: hsl(216, 12%, 54%);
}
.radioSelector label:has(input[type="radio"]:checked) {
  background-color: hsl(25, 97%, 53%);
}
.illustration {
  width: 50%;
}
.destaque {
  letter-spacing: 2px;
  color: hsl(25, 97%, 53%);
  background-color: rgba(124, 135, 152, 0.2);
  padding: 12px 20px 10px;
  border-radius: 30px;
}
.destaque span {
  letter-spacing: 2px;
  color: hsl(25, 97%, 53%);
}
